* {
    main-bg:            #282c34e6;
    main-fg:            #5c6370;
    main-br:            #88B3CB;
    main-ex:            #98c379;
    select-bg:          #88B3CBff;
    select-fg:          #282c34ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}

window {
    border-radius:      17px;
    border:             2px;
    border-color:       @main-br;
}