* {
    main-bg:            #282c34e6;
    main-fg:            #abb2bf;
    main-br:            #61afef;
    main-ex:            #98c379;
    select-bg:          #61afefff;
    select-fg:          #282c34ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}

window {
    border-radius:      17px;
    border:             2px;
    border-color:       @main-br;
}